{% if page.image.feature %}

{% include head.html %}

<section class="article">

  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}

  <div id='bump'>
      <section class="article archive">
        <article class="archive-wrap">
            <ol class="post-list">
              <lh><h2><span class="ggr"><a href="{{ site.url }}/blog">All posts</a></span><span class="bb">{{ page.title }}</span></h2></lh>
              {{ content }}
            </ol>
        </article>
      </section>
  </div>

{% include footer.html %}